<!-- TODO usar o 'truncate' do materialize em algum campo que form mto grande -->

<div class="section">
  <nav>
    <div class="nav-wrapper light-blue">
      <a class="breadcrumb">Gestão</a>
      <a class="breadcrumb">Usuário</a>
      <a class="breadcrumb">Consulta</a>
    </div>
  </nav>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <div class="center-align" *ngIf="!recordsFound">
        Nenhum registro encontrado.
      </div>

      <div *ngIf="recordsFound">
        <div class="input-field col s3 right">
          <input type="text" placeholder="Filtrar por nome" [(ngModel)]="nomeFilter">
          <i class="material-icons prefix">search</i>
        </div>

        <!-- sort: -->
        <!-- https://ciphertrick.com/2017/08/01/search-sort-pagination-in-angular/ -->
        <table class="highlight">
          <thead>
            <tr>
              <th (click)="sort('id')">ID
                <span *ngIf="sortField =='id' && !sortReverse">
                  <i class="material-icons">arrow_downward</i>
                </span>
                <span *ngIf="sortField =='id' && sortReverse">
                  <i class="material-icons">arrow_upward</i>
                </span>
              </th>
              <th (click)="sort('nome')">Nome
                <span *ngIf="sortField =='nome' && !sortReverse">
                  <i class="material-icons">arrow_downward</i>
                </span>
                <span *ngIf="sortField =='nome' && sortReverse">
                  <i class="material-icons">arrow_upward</i>
                </span>
              </th>
              <th (click)="sort('email')">E-mail
                <span *ngIf="sortField =='email' && !sortReverse">
                  <i class="material-icons">arrow_downward</i>
                </span>
                <span *ngIf="sortField =='email' && sortReverse">
                  <i class="material-icons">arrow_upward</i>
                </span>
              </th>
              <th (click)="sort('dataNascimento')">Data de Nascimento
                <span *ngIf="sortField =='dataNascimento' && !sortReverse">
                  <i class="material-icons">arrow_downward</i>
                </span>
                <span *ngIf="sortField =='dataNascimento' && sortReverse">
                  <i class="material-icons">arrow_upward</i>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            
            <!-- https://offering.solutions/blog/articles/2016/11/21/how-to-implement-a-table-filter-in-angular-2/ -->
            
            <tr *ngFor="let usuario of usuarios | orderBy: sortField : sortReverse | singleFieldFilter : 'nome' : nomeFilter | paginate: { itemsPerPage: 4, currentPage: p } ">
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.nome }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.dataNascimento | date: 'dd/MM/yyyy' }}</td>
              <td>
                <a title="Editar" [routerLink]="['/usuario-create-or-update/']" [queryParams]="{id: usuario.id}">
                  <i class="material-icons">edit</i>
                </a>
                <a title="Excluir" class="modal-trigger" href="#confirmDeleteDialog" (click)="onClickDelete(usuario)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- https://www.npmjs.com/package/ngx-pagination -->
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próxima" class="center-align"></pagination-controls>
      </div>

      <a class="btn-floating waves-effect waves-light red right" [routerLink]="['/usuario-create-or-update/']">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
</div>

<div id="confirmDeleteDialog" class="modal" materialize="modal">
  <div class="modal-content">
    <h4>Confirmação</h4>
    <p>Deseja realmente excluir o(a) usuário(a) "{{ usuarioMarkedToDelete?.nome }}"?</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn" (click)="onClickConfirmDelete()">
      <i class="material-icons left">done</i>Sim</a>
    <a class="modal-action modal-close waves-effect waves-green btn">
      <i class="material-icons left">cancel</i>Não</a>
  </div>
</div>
