<!-- TODO mensagem nenhum usuario encontrado -->
<div class="container">
  <h2>
    <b>Usuários</b>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <!-- <th style="width: 82%;">Nome</th> -->
      <th>Nome</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios | async">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.email }}</td>
      <td>
        <a href="#" class="edit" title="Editar" data-toggle="tooltip">
          <i class="material-icons">edit</i>
        </a>
        <a href="#" class="delete" title="Excluir" data-toggle="tooltip">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <a [routerLink]="['/usuario-create']">
    <!-- <button class="btn btn-primary pull-right">Incluir Novo</button> -->
    <button>Incluir Novo</button>
  </a>
</div>