<!-- TODO mensagem nenhum usuario encontrado -->
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <h2>
          <b>Usuários</b>
        </h2>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios | async">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>
              <a title="Editar">
                <i class="material-icons">edit</i>
              </a>
              <a title="Excluir">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <a [routerLink]="['/usuario-create-or-update']">
          <button>Incluir Novo</button>
        </a>
      </div>
    </div>
  </div>
</div>