<!-- https://github.com/InfomediaLtd/angular2-materialize/issues/374 -->
<!-- http://materializecss.com/navbar.html -->
<div class="container">
  <nav>
    <div class="nav-wrapper light-blue">
      <ul class="left">
        <li>
          <a class="dropdown-trigger" href="#!" data-activates="dropdownGestao" materialize="dropdown">Gestão
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-activates="dropdownOutraCoisa" materialize="dropdown">Outra Coisa
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
      <a class="brand-logo right">Angular Study</a>
    </div>
  </nav>

  <ul id="dropdownGestao" class="dropdown-content">
    <li>
      <a routerLink="usuario-read-all-basico">Usuário (Básico)</a>
    </li>
    <li>
        <a routerLink="usuario-read-all-paginacao">Usuário (Paginação)</a>
      </li>
    <li>
      <a routerLink="usuario-read-all">Usuário</a>
    </li>
    <li class="divider"></li>
    <li>
      <a>Perfil</a>
    </li>
  </ul>

  <ul id="dropdownOutraCoisa" class="dropdown-content">
    <li>
      <a>Sub-coisa 1</a>
    </li>
    <li class="divider"></li>
    <li>
      <a>Sub-coisa 2</a>
    </li>
    <li class="divider"></li>
    <li>
      <a>Sub-coisa 3</a>
    </li>
  </ul>

  <router-outlet></router-outlet>

</div>
